
{% extends 'layout/base.html' %}
{% block title %}Trang chủ{% endblock %}


{% block content %}
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>OrderFood</h1>
  <p>Chào mừng bạn đến hệ thống đặt món.</p>
  {% if session.get('role') == 'customer' %}
    <a class="btn btn-light" href="{{ url_for('customer.customer_home') }}">Vào khu khách hàng</a>
  {% elif session.get('role') == 'restaurant_owner' %}
    <a class="btn btn-light" href="{{ url_for('owner_home') }}">Vào khu chủ quán</a>
  {% else %}
    <a class="btn btn-light" href="{{ url_for('login') }}">Bắt đầu bằng Đăng ký</a>
  {% endif %}
</div>
{% endblock %}
